<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/29b43eb7cb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Halant|Mukta+Mahee|Rasa|Hind+Siliguri|Anonymous+Pro|Karla" rel="stylesheet">
    <title>Bharat Kashyap</title>
  </head>
<body>
<div class="container-fluid">
  <div class="row justify-content-center main">
    <div class="col-sm-4 align-self-center image">
      <div class="row justify-content-center">
        <div class="col-auto">
          <img src="me.jpg" class="me border border-dark rounded-circle" alt="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto"><a href="https://www.facebook.com/bharattttttt" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div class="col-auto"><a href="https://www.twitter.com/bharattttttt" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="col-auto"><a href="https://www.medium.com/@bharatkashyap" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></div>
        <div class="col-auto"><a href="https://www.instagram.com/bharatkashyap" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
      </div>
    </div>

    <div class="col-auto vdivide">
    </div>

    <div class="descr col-sm-4 align-self-start">
      <div class="row justify-content-center text-content">
        <div class="col">
          <p id="heading" class="heading"></p>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <p class="description d-s">I am an engineering student, currently residing in Patiala, Punjab, India.</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <p class="description d-sr">I like : </p>
          <ul id="card-list" class="description d-sr d-l list-unstyled">
            <div class="row no-gutters justify-content-center">
              <div class="col-11">
            <li v-for="card in cards" v-if="selected == card.id" v-bind:key="card.id"><div class="card"><img class="card-img-top" v-bind:src="card.img" alt="Card image cap" /><div class="card-body" v-on:click="follow(card.link)"><h5 class="card-title">{{ card.title }}</h5><p class="card-text">{{ card.text }}</p></div></div></li>
              </div>
              <div class="col align-self-center">
                <div class="arrow" v-on:click="next()"> <span>></span> </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="w-100"></div>
          <div class="col">
            <p class="description d-sr joke"><span class="align-top"></span><a href="BK.pdf" target="_blank">This</a> is my resumé.
    <br/><span class="text-muted">Last updated 7/7/2019</span></p>
          </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script type="text/javascript">
var namedata;
function reqListener () {
  namedata = JSON.parse(this.responseText);
  fonts = namedata.Fonts;
  names = namedata.Names;
  scripts = namedata.Scripts;

  length = scripts.length;
  var i = Math.floor(Math.random() * length);

  document.getElementById("heading").innerHTML = "<abbr title>" + names[i] + "</abbr>";
  document.getElementById("heading").style.fontFamily = fonts[i];
  document.getElementsByTagName("abbr")[0].setAttribute("title", scripts[i]);
}

function fadeElemsIn(){
  var elements = [], i=1;
  elements.push(document.getElementsByClassName("image")[0]);
  elements.push(document.getElementsByClassName("vdivide")[0]);
  elements.push(document.getElementsByClassName("heading")[0]);
  elements.push(document.getElementsByClassName("d-s")[0]);
  elements.push(document.getElementsByClassName("d-sr")[0]);
  elements.push(document.getElementsByClassName("d-l")[0]);
  elements.push(document.getElementsByClassName("joke")[0]);
  Array.prototype.forEach.call(elements, function(elem) {
      setTimeout(function(){ elem.classList.add("visible") }, 700*i)
      i++;
      })
  }

function nameRandomiser(){
var oReq = new XMLHttpRequest();
oReq.addEventListener("load", reqListener);
oReq.open("GET", "namedata.json");
oReq.send();
fadeElemsIn();
}



var cards = new Vue({
  el: '#card-list',
  data: {
    selected: 0,
    cards: [
      { id: 0, img: "cseng.svg", title: "Computer Science and engineering", text: "Using technology (Javascript, mostly) to solve everyday problems.", link: "https://bharatkashyap.github.io/work.html" },
      { id: 1, img: "quiz.svg", title: "Quizzing", text: "Knowing things", link: "https://bharatkashyap.github.io/quizzes"},
      { id: 2, img: "writing.jpg", title: "Writing", text: "Documenting stories of curious tales during mundane travel", link: "https://linearcombinations.wordpress.com"},
      { id: 3, img: "travel.jpg", title: "Trains", text: "Travelling through the country via the Indian Railway", link: "https://photos.google.com/share/AF1QipPVj1JMb0Z6MxYarJNZtKADuoX8pl6-rRtEIUFJyj02lXhTLiNBGNA2Le0dwri9wA?key=dl9fdVJtRG1ybG50QmZYRWxsVE13SFJvREM1aEZB"},
      { id: 4, img: "delhi.jpg", title: "Delhi", text: "Experiences in the hometown: witnessing the procession of generations", link: "delhi/"}
    ]
  },
  methods: {
    next: function() {
      this.selected=(this.selected+1)%this.cards.length;
    },
    follow: function(url) {
      window.open(url);
    }
  }
})
window.onload = nameRandomiser();


</script>
</html>
