html {
  position: relative;
}

html, body, .container-fluid {
  height: 100%;
}

.vdivide {
  opacity: 0;
  transition: 1s opacity;
}

.vdivide:after {
  background: #E0E0E0;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:5vh;
  bottom: 0;
  right: 0;
  min-height: 0px;
}

.text-content
{
  position: relative;
  top: 8vh;
  left: 2vh;
}

.heading
  {
    font-size: 4vh;
    /* font-family: 'Cinzel', sans-serif; */
    /* font-family: 'Halant', sans-serif; */
    opacity: 0;
    transition: 1s opacity;
  }

.description
{
  font-family: 'Crimson Text', sans-serif;
  opacity: 0;
  transition: 1s opacity;
  margin-right: 1%;
}

.d-s
{
  font-size: 2.9vh;
}

.d-sr
{
  font-size: 2.4vh;
}

.d-l
{
  position: relative;
  left: 0;
}

ul li
{
  line-height: 1.5em;
}

.joke
{
  margin-top: 2vh;
  opacity: 0;
  transition: 1s opacity;
}


.main
{
  margin-top: 10vh;
}


body, .container-fluid
{
  overflow-x: hidden;
}

abbr {
  text-decoration: none!important;
}

.image {
  opacity: 0;
  transition: 1s opacity;
}

a {
  text-decoration-line: underline;
  color: inherit;
}

a:hover
  {
    text-decoration-line: underline;
    -webkit-transition : all ease-in 0.2s;
    color : rgba(75,75,75,0.6);
  }


@media (max-width: 575px)
{
  .main {
    margin-top: 2vh;
  }

  .text-content {
    top: 3.5vh;
  }

  .image {
    padding-bottom: 2vh;
    border-bottom: 1px solid #E0E0E0;
  }
}

.visible {
  opacity: 1;
}

#location
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1.1em;
    color : #434343;
    margin-bottom : 0.2%;
  }

#interests
  {
    margin : 2% 0;
    display : none;
    text-align : center;
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1.1em;
    color : #434343;
  }

#interests table
  {
    border-collapse : collapse;
  }

#interests tr
  {
    text-align : center;
  }

#interests td
  {
    border-bottom : 1px solid rgba(75,75,75,0.5);
    padding : 60px;
  }

#interests td:nth-of-type(1)
  {
    border-right : 1px solid rgba(75,75,75,0.5);
  }

#interests tr:nth-of-type(2) td
  {
    border-bottom : none;
  }

#showpiece
  {
    margin : 2% 0;
  }

.me

  {
    margin-top: 3vh;
    /* position: relative;
    transform: translateX(13vh); */ /* Before placing image and social icons in seperate rows */
    margin-bottom: 2vh;
    height : 28vh;
    width : 28vh;
  }


#imagetext
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 0.8em;
    color : rgba(75,75,75,0.6);
  }

#subtext
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1em;
    color : #434343
  }

#subtext li
  {
    display : inline;
    list-style-type : none;
  }

.descr
{
  padding: 0;
}



li:hover, td:hover
  {
    cursor : default;
  }

.card
{
  width: 95%;
}

.card-img-top
{
  height: 34vh;
}

.card-body
{
  padding: 0;
  padding-left: 1rem;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.8);
}

.card-title
{
  position: relative;
  top: 1vh;
  font-size: 0.9em;
  font-family: 'Karla', sans-serif;
  transition: 0.1s all ease-in;
}

.card-text
{
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(0,0,0,0.65);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .2s ease-in;
}

.card-title:hover
{
  cursor: pointer;
  color: white;
}

.card:hover
{
  cursor: pointer;
}

.card-body:hover .card-text
{
  opacity: 1;
}

.arrow
{
  margin-left: -0.5rem;
  font-size: 1.7rem;
  font-family: 'Karla', 'Helvetica Neue', sans-serif;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}

.arrow span
{
  transition: all 0.1s ease-in-out;
}

.arrow span:hover
{
  cursor:pointer;
  font-size: 1.9rem;
  color: rgba(0,0,0,0.7);
}

/* Work styles */
.card-list {
  margin: 0;
  padding: 0;
}

.card-list li
{
  list-style-type: none;
  margin-bottom: 1em;
}

.card-list .card
{
}

.card-list .card-body
{
  padding: 0.6em 0.8em;
}

.card-list .card-title
{
  font-size: 1.1em;
}

.card-list .card-subtitle
{
  font-variant: small-caps;
}

.work-heading
{
  margin-top: 1em;
  font-family: 'Karla', sans-serif;
  font-variant: small-caps;
  color: rgba(0,0,0,0.7);
  font-size: 1.5em;
  margin: 2% 2% -3% 2%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.work-heading a {
  text-decoration-line: none;
}
