
.centrepiece
 {
   margin : 4% 0;
   text-align : center;
 }
 
#heading
  {
    font-family : 'Pontano Sans', sans-serif;
    font-size : 1.8em;
    color : rgba(74,74,74,1);
    margin-bottom : 1%;
  }
  
#location
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1.1em;
    color : #434343;
    margin-bottom : 0.2%;
  }
  
#interests
  {
    margin : 2% 0;
    display : none;
    text-align : center;
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1.1em;
    color : #434343;
  }

#interests table
  {
    border-collapse : collapse;
  }

#interests tr
  {
    text-align : center;
  }

#interests td
  {
    border-bottom : 1px solid rgba(75,75,75,0.5);
    padding : 60px;
  }

#interests td:nth-of-type(1)
  {
    border-right : 1px solid rgba(75,75,75,0.5);
  }

#interests tr:nth-of-type(2) td
  {
    border-bottom : none;
  }
  
#showpiece
  {
    margin : 2% 0;
  }
  
img
  
  {
    height : 50%;
    width : 50%;
  }
  
#imagetext
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 0.8em;
    color : rgba(75,75,75,0.6);
  }
  
#subtext
  {
    font-family : 'Sorts Mill Goudy', serif;
    font-size : 1em;
    color : #434343
  }
  
#subtext li
  {
    display : inline;
    list-style-type : none;
  }
  
a
  {
    text-decoration : underline;
    color : inherit;
  }
  
li:hover, td:hover
  {
    cursor : default;
  }
  
a:hover, span.link:hover
  {
    -webkit-transition : ease-in 0.2s;
    color : rgba(75,75,75,0.6);
  }
