#heading-text {
    width: fit-content;
}

#subheading-text {
    /*text-transform: capitalize; */
}

#post-heading, #post-date {
    font-family: 'Work Sans', sans-serif;
}

#post-image img {
    max-width: 70vw;
}

#post-sub-head {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.02cm;
}

#post-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}

.flex-equal {
    flex-grow: 1;
    flex-basis: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
}
@keyframes fadeInBorder {
    0% { border-bottom-color: rgba(0,0,0,0); }
    100% { border-bottom-color: rgba(0,0,0,0.8); }
}
.post.pre-load {
    opacity: 0;
}


.fade-in {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.font-heading {
    font-family: 'Crimson Text', serif;
}

.font-subheading {
    font-family: 'Work Sans', sans-serif;
}

hr.v-divide-double {
    border-top-style: double;
}

hr.v-divide-strong {
    border-top-width: 3px;
    border-top-color: rgba(0,0,0,0.6);
}

.img-placeholder-div {
    display: block;
    max-width: 70vw!important;
    background-color: rgba(0,0,0,0.3);
}